/* app css stylesheet */

body {
  padding-top: 20px;
}


.product-images {
  width: 450px;
  height: 450px;
  overflow: hidden;
  position: relative;
  float: left;
}

.products {
  list-style: none;
}

.thumb {
  float: left;
  margin: -1em 1em 1.5em 0em;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.products li {
  clear: both;
  height: 100px;
  padding-top: 15px;
}

/** Detail View **/
img.product {
  float: left;
  margin-right: 3em;
  margin-bottom: 2em;
  background-color: white;
  padding: 2em;
  height: 288px;
  width: 480px;
}

ul.product-thumbs {
  margin: 0;
  list-style: none;
}

ul.product-thumbs li {
  border: 1px solid black;
  display: inline-block;
  margin: 1em;
  background-color: white;
}

ul.product-thumbs img {
  height: 115px;
  width: 192px;
  padding: 1em;
}

ul.product-thumbs img:hover {
  cursor: pointer;
}


ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li{
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span{
  font-weight: bold;
  font-size: 1.2em;
}

ul.specs dt {
  font-weight: bold;
}

h1 {
  border-bottom: 1px solid gray;
}
