<div class="container">
    <div class="row">
        <carousel interval="slideInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <img ng-src="{{slide.image}}" style="margin:auto;height: 115px;width: 192px;">
                <div class="carousel-caption">
                    <h4>Slide {{$index}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </slide>
        </carousel>
    </div>
    <div class="row">
        Retailer: {{retailer.json}}
    </div>
    <div class="row">
        Search: <input ng-model="query">
        Sort by:
        <select ng-model="orderProp">
            <option value="name">Alphabetical</option>
            <option value="age">Newest</option>
        </select>
    </div>
    <div class="row">
        <ul class="products">
            <li ng-repeat="product in products| filter:query | orderBy:orderProp"
                class="thumbnail product-listing">
                <a href="#/product/{{product.id}}" class="thumb"><img ng-src="{{product.imageUrl}}"></a>
                <a href="#/product/{{product.id}}">{{product.name}}</a>
                <p>{{product.snippet}}</p>
            </li>
        </ul>
    </div>
</div>